*

!.ssh/
!.ssh/config
!.config/
!.config/alacritty/
!.config/alacritty/alacritty.toml
!.config/dunst/
!.config/dunst/dunstrc
!.config/gtk-*.0/
!.config/gtk-*.0/settings.ini
!.config/i3*/
!.config/i3*/config
!.config/picom/
!.config/pcmanfm/
!.config/pcmanfm/default/
!.config/pcmanfm/default/pcmanfm.conf
!.config/picom/picom.conf
!.config/rofi/
!.config/rofi/config.rasi
!.config/scripts
!.config/scripts/cmus-status.sh
!.config/scripts/nvidia-fans.sh
!.config/scripts/kb.sh
!.config/scripts/twitch.sh

!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.vimrc
!.tmux.conf
!.xinitrc
