/*

!.proxychains/proxychains.conf
!.ssh/config
!.vim/vimrc
!.vim/pack/plugins/start
!.config/alacritty/alacritty.toml
!.config/dunst/dunstrc
!.config/feh/buttons
!.config/gtk-*.0/settings.ini
!.config/i3*/config
!.config/picom/picom.conf
!.config/pcmanfm/default/pcmanfm.conf
!.config/rofi/config.rasi
!.config/scripts/cmus-status.sh
!.config/scripts/nvidia-fans.sh
!.config/scripts/kb.sh
!.config/scripts/twitch.sh
!.config/tmux/tmux.conf
!.config/yt-dlp/config

!.bash_profile
!.bashrc
!.emacs
!.gitconfig
!.gitignore
!.xinitrc
